# ==========================================
# CONCILIO WANTED BOT - CONFIGURACION
# ==========================================
# NO compartas este archivo cuando pongas el token real.


BOT_TOKEN=PEGA_AQUI_TU_TOKEN

# Application ID 
CLIENT_ID=

# Discord tickets
TICKETS_GUILD_ID=
TICKET_LOG_CHANNEL_ID=
STAFF_ROLE_ID=

# Bot Ticket King
TICKET_KING_BOT_ID=

# Discord administrativo
ADMIN_GUILD_ID=
WANTED_CHANNEL_ID=
AUDIT_CHANNEL_ID=
